* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    text-align: center;
    background-color: #CCCCCC;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    justify-content: space-around;
}

nav img {
    margin: 0.5em;
}

nav p span {
    margin-top: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

nav li {
    margin: auto;
    padding: 0.5em 1em 0.5em 1em;
    font-size: medium;
}

#nav-bar0 {
    background-color: #6cb4bb;

}

#nav-bar1 {
    background-color: #9cdbab;

}

#nav-bar2 {
    background-color: #fbb444;

}

#nav-bar3 {
    background-color: #f28a56;

}

#nav-bar4 {
    background-color: #ec6c63;

}

#nav-bar5 {
    background-color: #da8f8d;

}

a {
    text-decoration: none;
    color: white;
}

nav a {
    color: white;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

nav a:hover {
    font-weight: bold;
    color: white;
    box-shadow: 0.5em 1em 0.5em #666;
}


/*
nav ul li a:hover { 
    background: #12348d;
    border: 1px solid #fff;
    padding: 5px 10px;
}
*/

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa {
    padding: 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.contact-column-image {
    position: relative;
}

.contact-column-details {
    width: 40%;
}

.contact-column-details-who {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.contact-column-details-form {
    width: 40%;
}

.contact-column-details-form h3 {
    font-size: 25px;
    color: #da8f8d;
    margin-left: 20%;
}

.contact-column-details-address {
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.contact-column-details p {
    text-align: justify;
    margin-top: 20px;
    color: #4c4c4c;
}

.contact-column-details h3 {
    font-size: 25px;
    text-align: center;
    color: #da8f8d;
}

.contact-column-details-who p {
    text-align: justify;
    margin-top: 25px;
    color: #4c4c4c;
}

.contact-column-details-who h3 {
    font-size: 25px;
    text-align: center;
    color: #fbb444;
}

.contact-image {
    border-top: 5px solid #6cb4bb;
    border-right: 5px solid #fbb444;
    border-bottom: 5px solid #f28a56;
    border-left: 5px solid #ec6c63;
}

.contact-image-address {
    border-top: 5px solid #6cb4bb;
    border-right: 5px solid #fbb444;
    border-bottom: 5px solid #f28a56;
    border-left: 5px solid #ec6c63;
}

.donate-button {
    color: white;
    border-radius: 3px;
    padding: 10px 18px;
    background-color: #da8f8d;
    text-decoration: none;
    width: 20%;
    position: absolute;
    top: 80%;
    left: 35%;
}

.donate-button-who {
    color: white;
    border-radius: 3px;
    padding: 10px 18px;
    background-color: #fbb444;
    text-decoration: none;
    width: 20%;
    position: absolute;
    top: 80%;
    left: 36%;
}

.container-form {
    border-radius: 3px;
    padding: 25px 0px;
    color: #4c4c4c;
    text-align: left;
}

.container-form-address {
    border-radius: 3px;
    padding: 25px 0;
    line-height: 2rem;
    text-align: left;
    color: #4c4c4c;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: #da8f8d;
    color: black;
    padding: 10px 18px;
    border: 0px;
    border-radius: 4px;
    width: 30%;
    margin-left: 35%;
}

.container-content {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.container-content h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #fbb444;

}

.container-row {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.container-row p {
    color: #4c4c4c;
}

.team {
    width: 30%;
    padding: 5px;
}

.team-image {
    width: 100%;
    border-top: 5px solid #6cb4bb;
    border-right: 5px solid #fbb444;
    border-bottom: 5px solid #f28a56;
    border-left: 5px solid #ec6c63;
}

#contactus {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-size: cover;
}

footer {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}

footer h3 {
    font-size: large;
}

footer p {
    font-size: medium;
}

#logo-footer {
    margin-left: 0;
    padding-left: 0;
}

.footer-logo {
    width: 25%;
    background-color: #CCCCCC;
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
}

.footer-about {
    width: 30%;
    background-color: #CCCCCC;
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
}

.footer-quick {
    width: 25%;
    background-color: #CCCCCC;
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
}

.footer-contact {
    width: 20%;
    background-color: #CCCCCC;
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
}

#insideDiv {
    width: 50%;
}

.footerId p {
    margin: 0;
    padding: 0;
}

.footerId p a {
    text-decoration: none;
    color: black;
}

#social-media {
    padding: 0;
}

#social-media li {
    display: inline-block;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

@media only all and (max-width:768px) {
    .container {
        flex-direction: column;
        margin-top: 30px;
    }

    .contact-column-details {
        width: 100%;
        margin-top: 30px;
    }

    .contact-column-details-who {
        width: 100%;
        margin-top: 50px;
    }

    .contact-column-details-form {
        width: 100%;
        margin-left: 0px;
    }

    .contact-column-details-form h3 {
        margin-left: 0px;
    }

    .contact-image {
        width: 100%;
    }

    .donate-button {
        width: 23%;
    }

    .donate-button-who {
        width: 23%;
    }

    .contact-image-address {
        width: 100%;
    }

    .container-row {
        flex-direction: column;
    }

    .team-image {
        width: 325%;
    }
}